.colors_section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  p {
    margin: 0px;
    padding: 0px;
    text-transform: capitalize;
  }
  .colors {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 100%;
    flex: 0;
    flex-grow: 1;
    padding: 10px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 100px 1px rgba(0, 0, 0, 0.1);

    .colors_preview {
      width: 100%;
      height: 100px;
      border-radius: 10px;
    }

    .colors_btns {
      width: 100%;
      justify-content: center;
      display: flex;
      gap: 10px;

      button {
        display: flex;
        justify-content: center;
      }
    }
  }
}

.form-container {
  P {
    margin: 0px;
  }
  .form-preview {
    width: 100%;
    height: 100px;
    border-radius: 10px;
  }
  .colors_preview {
    width: 100%;
    height: 100px;
    border-radius: 10px;
  }
}

@media (min-width: 1024px) {
  .colors_section {
    .colors {
      max-width: 25%;
      flex: 0;
      flex-grow: 1;
    }
  }
}
